@model Database.Character

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/CharacterPage.css">
    <title>Origins New Horizons | @Model.Name</title>
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>

<style>   
    :root {
        --playerColor: @Model.PlayerColor;
    }
</style>

<script>
    window.onload = function () {
        document.getElementById("SplDiv").style.display = "flex"
        document.getElementById("CombatDiv").style.display = "none"
        document.getElementById("StatsDiv").style.display = "none"
        document.getElementById("HabDiv").style.display = "none"
        document.getElementById("InformationDiv").style.display = "none"
    }

    function SplTab() {
        document.getElementById("SplDiv").style.display = "flex"
        document.getElementById("CombatDiv").style.display = "none"
        document.getElementById("StatsDiv").style.display = "none"
        document.getElementById("HabDiv").style.display = "none"
        document.getElementById("InformationDiv").style.display = "none"
    }
    function CombatTab() {
        document.getElementById("SplDiv").style.display = "none"
        document.getElementById("CombatDiv").style.display = "flex"
        document.getElementById("StatsDiv").style.display = "none"
        document.getElementById("HabDiv").style.display = "none"
        document.getElementById("InformationDiv").style.display = "none"
    }
    function StatsTab() {
        document.getElementById("SplDiv").style.display = "none"
        document.getElementById("CombatDiv").style.display = "none"
        document.getElementById("StatsDiv").style.display = "flex"
        document.getElementById("HabDiv").style.display = "none"
        document.getElementById("InformationDiv").style.display = "none"
    }
    function HabTab() {
        document.getElementById("SplDiv").style.display = "none"
        document.getElementById("CombatDiv").style.display = "none"
        document.getElementById("StatsDiv").style.display = "none"
        document.getElementById("HabDiv").style.display = "flex"
        document.getElementById("InformationDiv").style.display = "none"
    }
    function InfoTab() {
        document.getElementById("SplDiv").style.display = "none"
        document.getElementById("CombatDiv").style.display = "none"
        document.getElementById("StatsDiv").style.display = "none"
        document.getElementById("HabDiv").style.display = "none"
        document.getElementById("InformationDiv").style.display = "flex"
    }

</script>

<body>
    <nav>
        <button>Fichas</button>
        <button>Informações</button>
        <button>Combate</button>
    </nav>

    <div class="transform-info">
        <nav class="left-nav">
            <button class="left-buttons">Padrão</button>
            <button class="left-buttons">Transformado</button>

        </nav>
        <nav class="right-nav">
            <button onclick="SplTab()">Especialidades</button>
            <button onclick="CombatTab()">Combate</button>
            <button onclick="StatsTab()">Status</button>
            <button onclick="HabTab()">Habilidades</button>
            <button onclick="InfoTab()">Informações</button>
        </nav>
    </div>

    <div class="panels">
        <div class="player-panel">
            <div class="player-image">
                <input class="user-img" type="image" src="../images/plusv2.png" alt="Submit">
            </div>
            <div class="player-info">
                <input class="player-class" type="image" src="../images/dpsIcon.png">
                <p>
                    Nome: @Model.Name <br>
                    Level: @Model.Level<br>
                    Mentor: @Model.Mentor<br>
                </p>
            </div>
        </div>

        <div class="player-status">

            <div id="SplDiv">
                Força: @Model.Strength<br>
                Destreza: @Model.Dexterity <br>
                Inteligencia: @Model.Inteligency <br>
                Energia: @Model.EnergyModifier <br>
                Carisma: @Model.Charisma <br>
                Vontade: @Model.Will <br>
                Sorte: @Model.Lucky <br>
                Afinidade: @Model.Afinnity <br>
            </div>

            <div id="CombatDiv">
                Ataque: @{
                
                @Html.Raw(Model.Strength + Model.Dexterity)
                ;
                
}
 <br>
                Ataque Especial: <br>
                Defesa: @Model.Strength (@{
                
                @Html.Raw(Model.Strength * 10)
                                ;
                
}
) <br>
                Velocidade: @Model.Dexterity <br>
                Efeito Negativo:
                @if (@Model.SubClass1 == "Debuffer" || @Model.SubClass2 == "Debuffer")
                {
                    @Html.Raw(@Model.EnergyModifier)
                    ;
                }

                <br>

                Efeito Positivo:
                @if (@Model.SubClass1 == "Buffer" || @Model.SubClass2 == "Buffer")
                {
                    @Html.Raw(@Model.EnergyModifier)
                    ;
                }

                <br>
                Resistencia: @Model.Will <br>
            </div>

            <div id="StatsDiv">
                Stats
            </div>

            <div id="HabDiv">
                HABILITIES
            </div>

            <div class="info-div" id="InformationDiv">
                <div class="input-box" id="input-box">

                    <textarea class="Info" placeholder="Descreva a aparencia do seu personagem aqui...">@Model.Apperence</textarea>
             
                    <textarea class="Info" placeholder="Descreva a personalidade do seu personagem aqui...">@Model.Personality</textarea>

                    <textarea class="Info" placeholder="Escreva suas anotações aqui...">@Model.Notes</textarea>

                    <textarea class="Info" placeholder="Descreva a Lore do seu personagem aqui...">@Model.Lore</textarea>

                    <textarea class="Info" placeholder="Descreva as curiosidades do seu personagem aqui...">@Model.Curiosity</textarea>

                </div>
            </div>

        </div>
    </div>
</body>

</html>
