<div class="nacion-box">
    <div>
        <h1>Starlink</h1>
        <button class="img-buttons"><img src="@Assets["/images/NacionIcons/star.png"]"></button>
    </div>

    <div>
        <h1>Vulpeflow</h1>
        <button class="img-buttons"><img src="@Assets["/images/NacionIcons/vulpe.png"]"></button>
    </div>

    <div>
        <h1>Grifford</h1>
        <button class="img-buttons"><img src="@Assets["/images/NacionIcons/grif.png"]"></button>
    </div>

    <div>
        <h1>Lycani</h1>
        <button class="img-buttons"><img src="@Assets["/images/NacionIcons/lyc.png"]"></button>
    </div>

    <div>
        <h1>Rufored</h1>
        <button class="img-buttons"><img src="@Assets["/images/NacionIcons/ruf.png"]"></button>
    </div>
</div>