@using Database
@inject HttpClient Http
@code {

    [Parameter] public int id { get; set; }
    Character? Model = new();
    int? attack = 0;
    protected override async Task OnInitializedAsync()
    {
        Model = await Http.GetFromJsonAsync<Character>($"http://localhost:5003/api/home/getCharacter/{id}");
        attack = Model.Strength + Model.Dexterity;
    }
}

<div id="CombatDiv">
    <div class="sub-combat-div">
        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/ataque.png"]" alt="">
            <h1>(ATQ) Ataque: @attack </h1>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/ataque.png"]" alt="">
            <h1>(ATQ ESP) Ataque Especial: </h1>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/defesa.png"]" alt="">
            <h1>(DEF) Defesa: @Model.Strength</h1>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/velocidade.png"]" alt="">
            <h1>(VEL) Velocidade: @Model.Dexterity</h1>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/fen.png"]" alt="">
            <h1>(FEN) Efeito Negativo:
                @if (@Model.SubClass1 == "Debuffer" || @Model.SubClass2 == "Debuffer")
                {
                    @Model.EnergyModifier
                }
            </h1>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/fep.png"]" alt="">
            <h1>(FEP) Efeito Positivo:
                @if (@Model.SubClass1 == "Buffer" || @Model.SubClass2 == "Buffer")
                {
                    @Model.EnergyModifier
                }
                <br>
            </h1>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/res.png"]" alt="">
            <h1>(RES) Resistencia: @Model.Will <br></h1>
        </div>
    </div>
</div>
