@using Database
@inject HttpClient Http
@code {

    [Parameter] public int id { get; set; }

    [Parameter] public Character Model { get; set; }
    [Parameter] public EventCallback<Character> ModelChanged{ get; set; }

    async Task ChangeModel()
    {
        await ModelChanged.InvokeAsync(Model);
    }
}


<div class="info-div" id="InformationDiv">
    <div class="input-box" id="input-box">

        <textarea @bind-apperence="@Model.Apperence" @bind-apperence:event="oninput" @onchange="() => ChangeModel()" class="Info" placeholder="Descreva a aparencia do seu personagem aqui...">@Model.Apperence</textarea>

        <textarea  @bind-personality="@Model.Personality" @bind-personality:event="oninput" @onchange="() => ChangeModel()" class="Info" placeholder="Descreva a personalidade do seu personagem aqui...">@Model.Personality</textarea>

        <textarea @bind-notes="@Model.Notes" @bind-notes:event="oninput" @onchange="() => ChangeModel()" class="Info" placeholder="Escreva suas anotações aqui...">@Model.Notes</textarea>

        <textarea @bind-lore="@Model.Lore" @bind-lore:event="oninput" @onchange="() => ChangeModel()" class="Info" placeholder="Descreva a Lore do seu personagem aqui...">@Model.Lore</textarea>

        <textarea @bind-info="@Model.Curiosity" @bind-info:event="oninput" @onchange="() => ChangeModel()" class="Info"
            placeholder="Descreva as curiosidades do seu personagem aqui...">@Model.Curiosity</textarea>

    </div>
</div>