@using Database
@inject HttpClient Http
@code {

    [Parameter] public int id { get; set; }
    Character? Model = new();
    protected override async Task OnInitializedAsync()
    {
        Model = await Http.GetFromJsonAsync<Character>($"http://localhost:5003/api/home/getCharacter/{id}");
    }
}

<div id="SplDiv">
    <div class="sub-combat-div">
        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/forca.png"]" alt="">
            <h1>(FOR) Força: @Model.Strength</h1>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/dex.png"]" alt="">
            <h1>(DES) Destreza: @Model.Dexterity</h1>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/int.png"]" alt="">
            <h1>(INT) Inteligência: @Model.Inteligency</h1>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/ene.png"]" alt="">
            <h1>(ENE) Energia: @Model.EnergyModifier</h1>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/car.png"]" alt="">
            <h1>(CAR) Carisma: @Model.Charisma</h1>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/von.png"]" alt="">
            <h1>(VON) Vontade: @Model.Will</h1>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/luck.png"]" alt="">
            <h1>(SOR) Sorte: @Model.Lucky</h1>
        </div>

        @if (@Model.Carrier == "yes")
        {
            <div class="section">
                <img class="icons" src="@Assets["images/StatsIcons/afi.png"]" alt="">
                <h1>(AFI) Afinidade: @Model.Afinnity <br></h1>
            </div>
        }
    </div>
</div>