@using Database
@inject HttpClient Http
@code {
    bool popup = false;
    string resultNumber = "";
    string sum = "";
    string color = "";
    public void ActivePopup(int index)
    {
        popup = true;
        RollDice(index);
    }

    public void DeActivePopup()
    {
        popup = false;
    }
    public void RollDice(int index)
    {
        //Roll a normal d20
        Random random = new Random();
        int num = random.Next(1, 20);
        if (num == 20)
        {
            color = "#41d93f";
        }
        else if (num == 1)
        {
            color = "#d93f3f";
        }
        else
        {
            color = "#fff";
        }

        if (index == 0)
        {
            resultNumber = num.ToString();
            sum = "Dados: " + num;
        }
    }
    [Parameter] public int id { get; set; }
    Character? Model = new();
    protected override async Task OnInitializedAsync()
    {
        Model = await Http.GetFromJsonAsync<Character>($"http://localhost:5003/api/home/getCharacter/{id}");
    }
}

<style>
    :root {
        --diceColor:
            @color
        ;
    }
</style>

<div id="SplDiv">
    <div class="sub-combat-div">
        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/forca.png"]" alt="">
            <h1>(FOR) Força: @Model.Strength</h1>
            <button class="roll-dice" @onclick="(() => ActivePopup(0))"><img class="icons"
                    src="@Assets["images/roll.png"]" alt=""></button>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/dex.png"]" alt="">
            <h1>(DES) Destreza: @Model.Dexterity</h1>
            <button class="roll-dice" @onclick="(() => ActivePopup(0))"><img class="icons"
                    src="@Assets["images/roll.png"]" alt=""></button>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/int.png"]" alt="">
            <h1>(INT) Inteligência: @Model.Inteligency</h1>
            <button class="roll-dice" @onclick="(() => ActivePopup(0))"><img class="icons"
                    src="@Assets["images/roll.png"]" alt=""></button>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/ene.png"]" alt="">
            <h1>(ENE) Energia: @Model.EnergyModifier</h1>
            <button class="roll-dice" @onclick="(() => ActivePopup(0))"><img class="icons"
                    src="@Assets["images/roll.png"]" alt=""></button>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/car.png"]" alt="">
            <h1>(CAR) Carisma: @Model.Charisma</h1>
            <button class="roll-dice" @onclick="(() => ActivePopup(0))"><img class="icons"
                    src="@Assets["images/roll.png"]" alt=""></button>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/von.png"]" alt="">
            <h1>(VON) Vontade: @Model.Will</h1>
            <button class="roll-dice" @onclick="(() => ActivePopup(0))"><img class="icons"
                    src="@Assets["images/roll.png"]" alt=""></button>
        </div>

        <div class="section">
            <img class="icons" src="@Assets["images/StatsIcons/luck.png"]" alt="">
            <h1>(SOR) Sorte: @Model.Lucky</h1>
            <button class="roll-dice" @onclick="(() => ActivePopup(0))"><img class="icons"
                    src="@Assets["images/roll.png"]" alt=""></button>
        </div>

        @if (@Model.Carrier == "yes")
        {
            <div class="section">
                <img class="icons" src="@Assets["images/StatsIcons/afi.png"]" alt="">
                <h1>(AFI) Afinidade: @Model.Afinnity <br></h1>
                <button class="roll-dice" @onclick="(() => ActivePopup(0))"><img class="icons"
                        src="@Assets["images/roll.png"]" alt=""></button>
            </div>
        }
    </div>
</div>

@if (popup == true)
{
    <div class="popup" id="popup">
        <h2>@resultNumber</h2>
        <button @onclick="(() => DeActivePopup())">Confirmar</button>
        <h3>@sum</h3>
    </div>
}