@using Database
@inject HttpClient Http
@code {
    Character? Model = new();
    protected override async Task OnInitializedAsync()
    {
        Model = await Http.GetFromJsonAsync<Character>("http://localhost:5003/api/home/getCharacter");
    }
}


<div class="info-div" id="InformationDiv">
                <div class="input-box" id="input-box">

                    <textarea class="Info" placeholder="Descreva a aparencia do seu personagem aqui...">@Model.Apperence</textarea>

                    <textarea class="Info" placeholder="Descreva a personalidade do seu personagem aqui...">@Model.Personality</textarea>

                    <textarea class="Info" placeholder="Escreva suas anotações aqui...">@Model.Notes</textarea>

                    <textarea class="Info" placeholder="Descreva a Lore do seu personagem aqui...">@Model.Lore</textarea>

                    <textarea class="Info" placeholder="Descreva as curiosidades do seu personagem aqui...">@Model.Curiosity</textarea>

                </div>
            </div>